* {
    padding: 0;
    margin: 0;
    list-style: none;

}
body{
    font-family: 'Roboto', sans-serif;
}
.color-orange{
    color:#f66c27;
}
/*banner*/
#banner {
    background: url("../images/banner_01.jpg") 50% 100%;
    background-size: cover;
}

#banner .banner_title {
    font-size: 65px;
}

.dropdown-toggle::after {
    display: none;
}

 .nav-link i {
    color: #8d8d8d;
}
.nav-link {
    font-size: 20px;
}
/*end abnner*/

/*about*/
#about .btn-read-more{
    background: #f66c27;
    border-radius: 40px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.16),0 2px 24px 0 rgba(0,0,0,0.12);
}
#about h2{
    font-size: 35px;
}
#about {
    /*position: relative;*/
    padding: 160px 0 128px 0;
}
#about img{
    -webkit-box-shadow: 36px 34px 54px -19px rgba(143,143,143,1);
    -moz-box-shadow: 36px 34px 54px -19px rgba(143,143,143,1);
    box-shadow: 36px 34px 54px -19px rgba(143,143,143,1);
}
#about .container .btn:hover{
    color: #212529;
}
#about .container .btn{
    color: #fff;
}
#about .about-l{
    position: relative;
}
@media screen and (min-width: 768px){
    #about .img-about-1{
       margin-left: -60px;
    }
}
@media screen and (min-width: 768px){
    #about .img-about-2{
        position: absolute !important;
        right: 0;
        bottom: -63px;
    }
}
/*end about*/

/*#service*/
#service p{
    font-size: 12px;
    color: #888888;
}
#service h2{
    margin-bottom: 72px;
}
#service .icon-service{
    padding-top: 85px;
    margin-bottom: 48px;
    font-size: 35px;
    display: block;
    color: black;
}
#service h4{
    margin-bottom: 25px;
}
#service .col-md-4{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}
#service .col-md-4:hover{
    border: 1px solid #f8f8f8;
    -webkit-box-shadow: 39px 39px 47px -40px rgba(143,143,143,0.62);
    -moz-box-shadow: 39px 39px 47px -40px rgba(143,143,143,0.62);
    box-shadow: 39px 39px 47px -40px rgba(143,143,143,0.62);
}
#service .col-md-4:hover .icon-service{
    color: #f66c27;
}
#service{
    margin-bottom: 153px;
}

/*end service*/
/*our-achivement*/
#our-achivement h2{
    font-size: 35px;
    margin-bottom: 60px;
}
#our-achivement p{
    font-size: 12px;
    color: #888888;
    margin-bottom: 62px;
}
/*subscribe*/
#subscribe{
    background-color: #ff7b38;
    background-image: linear-gradient(90deg, #ff7b38, #f9915c);
    height: 360px;
    position: relative;
}
#subscribe h2{
    text-transform: uppercase;
    font-size: 156px;
    color: #f99969;
    position: absolute;
    opacity: 0.6;
    top:35%;
    left: 24%;
}
#subscribe h4{
    font-size: 24px;
    color:#fff;
    margin-bottom: 72px;
}
#subscribe .col-md-8{
    height: 360px;
}
#subscribe .form-group{
    flex-grow:2;
}
#subscribe .form-group .form-control{
    width: 100%;
    border-radius: 20px;
    border: 2px solid #fff;
    background: #f3f2f2;
}
#subscribe .form-control:focus{
    border:2px solid #fff;
}
#subscribe .btn{
    flex-grow: 1;
}
.btn-submit-orange{
    background: #f48146;
    border-radius: 40px;
    color: #fff;
    -webkit-box-shadow: 3px 5px 37px -8px rgba(10,4,10,0.97);
    -moz-box-shadow: 3px 5px 37px -8px rgba(10,4,10,0.97);
    box-shadow: 3px 5px 37px -8px rgba(10,4,10,0.97);
}
#testimoniyal{
    background: #f8f8f8;

}
#testimoniyal .container{
    min-height: 592px;
    position: relative;
    padding-top: 100px;
}
#testimoniyal .header{
    position: absolute;
    font-size: 587px;
    top: -229px;
    color: #fff;
    font-family: 'Oswald', sans-serif !important;
}
#testimoniyal h2{
    margin-bottom: 40px;
}
#testimoniyal .slide ul{
    position: static;
    margin-left: 30px;
}
#testimoniyal .slide img{
    margin-bottom: 30px;
}
#testimoniyal .slide p{
    margin-bottom: 32px;
}
#testimoniyal .slide ul li{
     list-style-type: square;
     width: 20px;
     font-size: 30px;

    padding: 0;
     color:#dbdada;
    background: none;
 }
#testimoniyal .slide ul li.active{
    color:#f66c27;
}
#our-project .btn-submit-orange{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 66px;
}
#our-project {
    padding-top: 147px;
    margin-bottom: 142px;
}
#our-project h2{
    margin-bottom: 40px;
}
#our-project p{
    margin-bottom: 35px;
}
#our-project img{
    -webkit-box-shadow: 3px 5px 26px -11px rgba(10,4,10,0.97);
    -moz-box-shadow: 3px 5px 26px -11px rgba(10,4,10,0.97);
    box-shadow: 3px 5px 26px -11px rgba(10,4,10,0.97);
}
@media screen and (min-width: 980px){
    #contact .address{
        padding-top: 112px ;
        padding-left: 100px;
    }
}
#contact ul li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    background: #bbbbbb;

}
#contact .list-group-item{
    padding: 0;
}
#contact ul li a{
    color: white;


}
#contact ul{
    margin-bottom: 86px;
}
#contact .coppyright{
    margin-bottom: 13px;
}
#contact ul li:hover{
    background: #f48146;
    -webkit-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.43);
}
#contact .address h2{
    margin-bottom: 48px;
    font-size: 35px;
}
#contact .address h5{
    margin-bottom: 30px;
    font-size: 20px;
}
#contact .address p{
    margin-bottom: 48px;
    font-size: 12px;
}
#contact .address .phone{
    margin-bottom: 50px;
}
#contact .address span{
    color: #f48146;
}
#contact .form-contact{
    background: #f48146;
    padding: 15px;
}

#contact .form-contact form{
    background: white;
    padding: 60px 62px 44px 62px;
    -webkit-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.43);
}
@media screen and (min-width: 768px) {
    #contact .form-contact {
        padding: 78px 35px 72px 20px;
    }
}
@media screen and (min-width: 980px) {
    #contact .form-contact {
        padding: 138px 95px 132px 80px;
    }
}


#contact .form-contact input, #contact .form-contact textarea{
     border: none;
     border-bottom: 1px solid #c8c8c8;
     border-radius: 0;
 }
#contact .form-contact input:focus, #contact .form-contact textarea:focus{
    border: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    box-shadow: none;
}
#contact .form-contact button{
    padding: 0 58px;
    height: 55px;
    line-height: 55px;


}
#contact .form-contact button:hover{
    -webkit-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.43);
}

#contact .form-contact textarea{
    margin-bottom: 54px;
}
